@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;500;600;700&display=swap');

:root{
    --font-color: #222;
    --font-color-secundary: #777;
    --font-color-hover: #F58d17;
    --font-white: #fff;
    --bg-orange: #F58d17;



}

body {
    font-family: "Spline Sans", sans-serif;
    color: var(--font-color-secundary);
    line-height: 1.7;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    color: var(--font-color);
}

a {
    color: var(--font-color);
    text-decoration: none;
    transition: all 0.4s;
}

a:hover {
    color: var(--font-color-hover);
}

img {
    width: 100%;
}

.logo{
    width: 50px;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.shadow-on-hover {
    transition: all 0.3s;
}

.shadow-on-hover:hover {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

/* Btn */
.btn {
    border-radius: 0;
    padding: 14px 38px;
}

.btn-brand {
    color: var(--font-white);
    font-weight: 500;
    border-color: var(--bg-orange);
    background-color: var(--bg-orange);
}

.btn-brand:hover {
    border-color: var(--bg-orange);
    background-color: var(--bg-orange);
    color: var(--font-white);
}

.bg-cover {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.btn-modal{
    border: none;
}

/* Slider */
.slide-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/img03.jpg);
}

.slide-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/img11.jpg);
}

#heroSlider h6::after,
#heroSlider h6::before {
    content: " ";
    width: 40px;
    height: 4px;
    background-color: var(--font-white);
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0,0,0,0.6);
    width: 40px;
    height: 70px;
    margin: auto;
}


/* Navbar */
.navbar-nav .nav-link.active {
    color: var(--font-color-hover);
}

/* About */
#about .divider {
    width: 60px;
    height: 2px;
    display: block;
    background-color: var(--font-color-hover);
}

.image-about{
    margin-right: 100px;
}

/* Intro text */
.intro-text {
    margin-bottom: 40px;
    text-align: center;
}

.intro-text p {
    max-width: 500px;
    margin: 16px auto 0 auto;
}

/* Menu */
#works .nav-pills .nav-link {
    background-color: var(--font-white);
    margin-left: 8px;
    margin-right: 8px;
    color: var(--font-color);
    border-radius: 100px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

#works .nav-pills .nav-link.active {
    background-color: var(--font-color-hover);
    color: var(--font-white);
} 

.menu-item .stars {
    color: var(--font-color-hover);
}

/* Features */
#features {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/cover2.jpg);
}

.feature {
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.feature .feature-icon {
    width: 80px;
    height: 80px;
    background-color: var(--font-color-hover);
    color: var(--font-white);
    font-size: 28px;
    display: inline-grid;
    align-content: center;
    text-align: center;
}


/* Reviews */
#reviews {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/img08.jpg);
}
.review img {
    width: 75px;
    height: 75px;
    object-fit: cover;
}

.review .quote-icon {
    font-size: 74px;
    color: var(--font-color-hover);
    line-height: 1;
}

.review .stars {
    color: var(--font-color-hover);
}

#reviews .carousel-indicators {
    margin-bottom: -3rem;
}

/* Footer */
footer {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/img06.jpg);
    padding-top: 120px;
    padding-bottom: 30px;
}

.footer-top {
    margin-bottom: 30px;
}

footer p,
footer a{
    color: rgba(255, 255, 255, 0.75);
}

footer .social-links a {
    font-size: 24px;
    margin-right: 10px;
}

footer img {
    max-width: 175px;
}

.footer-bottom {
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}